<article>
	{{#article.education}}
	<section class="education">
		<h2>{{zh-CN}}<span>{{en}}</span></h2>
		<ul>
			<li>
				<span>{{ug.name}}</span>
				<span>{{ug.major}}</span>
				<span>{{ug.time}}</span>
			</li>
			<li>
				<span>{{master.name}}</span>
				<span>{{master.major}}</span>
				<span>{{master.time}}</span>
			</li>
		</ul>
	</section>
	{{/article.education}}
	{{#article.personal}}
	<section class="personal">
		<h2>{{zh-CN}}<span>{{en}}</span></h2>
		<ul>
			<li>
				<span>{{home.name}}</span>
				<span>{{home.born}}</span>
				<span>{{home.now}}</span>
			</li>
			<li class="detail">{{home.detail}}</li>
		</ul>
	</section>
	{{/article.personal}}
	{{#article.experience}}
	<section class="experience">
		<h2>{{zh-CN}}<span>{{en}}</span></h2>
			<div class="item">
				<h3>{{e1.title}}<span>{{e1.time}}</span></h3>
				<dl>
					<dt>{{e1.head}}</dt>
					{{#each e1.detail}}
						<dd>{{this}}</dd>
					{{/each}}
				</dl>
			</div>
			<div class="item">
				<h3>{{e2.title}}<span>{{e2.time}}</span></h3>
				<dl>
					<dt>{{e2.head}}</dt>
					{{#each e2.detail}}
						<dd>{{this}}</dd>
					{{/each}}
				</dl>
			</div>
	</section>
	{{/article.experience}}
	{{#article.projects}}
	<section class="projects">
		<h2>{{zh-CN}}<span>{{en}}</span></h2>
		{{#each pj}}
			<div class="item">
				<h3>{{this.title}}<span><a class="source" href="{{this.source_url}}">{{this.source}}</a><a class="demo" href="{{this.demo_url}}">{{this.demo}}</a></span></h3>
				<dl>
					<dt>{{this.head}}</dt>
					{{#each this.detail}}
						<dd>{{this}}</dd>
					{{/each}}
				</dl>
			</div>
		{{/each}}
	</section>
	{{/article.projects}}
</article>