<article>
	{{#article.education}}
	<section class="education">
		<h2 class="icon edu">{{zh-CN}}<span>{{en}}</span></h2>
		<ul>
			<li>
				<span>{{ug.name}}</span>
				<span>{{ug.major}}</span>
				<span>{{ug.time}}</span>
			</li>
			<li>
				<span>{{master.name}}</span>
				<span>{{master.major}}</span>
				<span>{{master.time}}</span>
			</li>
		</ul>
	</section>
	{{/article.education}}
	{{#article.personal}}
	<section class="personal">
		<h2 class="icon per">{{zh-CN}}<span>{{en}}</span></h2>
		<ul>
			<li>
				<span>{{home.name}}</span>
				<span>{{home.born}}</span>
				<span>{{home.now}}</span>
			</li>
			<li class="detail">{{home.detail}}</li>
		</ul>
	</section>
	{{/article.personal}}
	{{#article.experience}}
	<section class="experience">
		<h2 class="icon exp">{{zh-CN}}<span>{{en}}</span></h2>
			{{#each e}}
			<div class="item">
				<h3 class="icon com">{{this.title}}<span>{{this.time}}</span></h3>
				<dl>
					<dt>{{{strong this.head}}}</dt>
					{{#each this.detail}}
						<dd>{{{strong this}}}</dd>
					{{/each}}
				</dl>
			</div>
			{{/each}}
	</section>
	{{/article.experience}}
	{{#article.projects}}
	<section class="projects">
		<h2 class="icon pro">{{zh-CN}}<span>{{en}}</span></h2>
		{{#each pj}}
			<div class="item">
				<h3 class="icon pro-s">{{this.title}}<span><a class="source icon link {{render this}}" href="{{this.source_url}}">{{this.source}}</a><a class="demo icon link {{renderd this}}" href="{{this.demo_url}}">{{this.demo}}</a></span></h3>
				<dl>
					<dt>{{this.head}}</dt>
					{{#each this.detail}}
						<dd>{{this}}</dd>
					{{/each}}
				</dl>
			</div>
		{{/each}}
	</section>
	{{/article.projects}}
	{{#article.skills}}
	<section class="skills">
		<h2 class="icon ski">{{zh-CN}}<span>{{en}}</span></h2>
		{{#each ss}}
			<div class="item">
				<h3 class="icon ski-s">{{this.title}}</h3>
				<dl>
					{{#each this.details}}
						<dt>{{{strong this.title}}}</dt>
						{{#each this.all}}
							<dd>{{{strong this}}}</dd>
						{{/each}}
					{{/each}}
				</dl>
			</div>
		{{/each}}
	</section>
	{{/article.skills}}
</article>