<article>
{{!-- 	{{#article.personal}}
	<section class="personal">
		<h2 class="icon per">{{zh-CN}}<span>{{en}}</span></h2>
		<ul>
			<li>
				<span>{{home.name}}</span>
				<span>{{home.born}}</span>
				<span>{{home.now}}</span>
			</li>
			<li class="detail">{{home.detail}}</li>
		</ul>
	</section>
	{{/article.personal}} --}}

	{{#article.skills}}
	<section class="skills">
		<h2 class="icon ski">{{zh-CN}}<span>{{en}}</span></h2>
		<ul>
			<li>{{skill}}</li>
		</ul>
	</section>
	{{/article.skills}}

	{{#article.education}}
	<section class="education">
		<h2 class="icon edu">{{zh-CN}}<span>{{en}}</span></h2>
		<ul>
			{{#each this.info}}
			<li>
				<span>{{time}}</span>
				<span>{{name}}</span>
				<span>{{sort}}</span>
			</li>
			{{/each}}
		</ul>
	</section>
	{{/article.education}}

	{{#article.honor}}
	<section class="honor">
		<h2 class="icon exp">{{cn}}<span>{{en}}</span></h2>
		<ul>
			{{#each this.h}}
			<li>
				<span>{{name}}</span>
				<span>{{time}}</span>
			</li>
			{{/each}}
		</ul>
	</section>
	{{/article.honor}}

	{{#article.ex}}
	<section class="ex">
		<h2 class="icon exp">{{cn}}<span>{{en}}</span></h2>
		<ul>
			{{#each this.e}}
			<li>
				<span>{{name}}</span>
				<span>{{time}}</span>
			</li>
			{{/each}}
		</ul>
	</section>
	{{/article.ex}}


	{{#article.pro}}
	<section class="pro">
		<h2 class="icon pro">{{cn}}<span>{{en}}</span></h2>
		<ul>
			{{#each this.p}}
			<li>
				<span>{{name}}</span>
				<span>{{time}}</span>
			</li>
			{{/each}}
		</ul>
	</section>
	{{/article.pro}}
</article>