<article>

	{{#article.skills}}
	<section class="skills">
		<h2 class="icon-a ski-a">{{zh-CN}}<span>{{en}}</span></h2>
		<ul>
			<li>{{{strong skill}}}</li>
		</ul>
	</section>
	{{/article.skills}}

	{{#article.education}}
	<section class="education">
		<h2 class="icon-a edu-a">{{zh-CN}}<span>{{en}}</span></h2>
		<ul>
			{{#each this.info}}
			<li>
				<span>{{{strong time}}}</span>
				<span>{{{strong name}}}</span>
				<span>{{{strong sort}}}</span>
			</li>
			{{/each}}
		</ul>
	</section>
	{{/article.education}}

	{{#article.honor}}
	<section class="honor">
		<h2 class="icon-a exp-a">{{cn}}<span>{{en}}</span></h2>
		<ul>
			{{#each this.h}}
			<li>
				<span>{{{strong name}}}</span>
				<span>{{{strong time}}}</span>
			</li>
			{{/each}}
		</ul>
	</section>
	{{/article.honor}}

	{{#article.ex}}
	<section class="ex">
		<h2 class="icon-a exp-a">{{cn}}<span>{{en}}</span></h2>
		<ul>
			{{#each this.e}}
			<li>
				<span>{{{strong name}}}</span>
				<span>{{{strong time}}}</span>
			</li>
			{{/each}}
		</ul>
	</section>
	{{/article.ex}}


	{{#article.pro}}
	<section class="proj">
		<h2 class="icon-a pro-a">{{cn}}<span>{{en}}</span></h2>
		<ul>
			{{#each this.p}}
			<li>
				<span>{{{strong name}}}</span>
				<span>{{{strong time}}}</span>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{{strong info}}}</p>
			</li>
			{{/each}}
		</ul>
	</section>
	{{/article.pro}}
</article>