<article>
	{{#article.education}}
	<section class="education">
		<h2>{{zh-CN}}<span>{{en}}</span></h2>
		<ul>
			<li>
				<span>{{ug.name}}</span>
				<span>{{ug.major}}</span>
				<span>{{ug.time}}</span>
			</li>
			<li>
				<span>{{master.name}}</span>
				<span>{{master.major}}</span>
				<span>{{master.time}}</span>
			</li>
		</ul>
	</section>
	{{/article.education}}
</article>