<ul>
  {{#aside}}
	<li><a href="{{source_url}}">{{source}}</a></li>
	<li><a href="{{download_url}}">{{download}}</a></li>
  <li><a href="{{backHome_url}}">{{backHome}}</a></li>
  {{/aside}}
</ul>